<div class="menu">
  <div id="popup">
    <div class="popup-dialog">
      <div class="popup-content">
        <div>
          <div> {{pseudo}} </div>
          <div> {{city}} </div>
          <div> {{birth}} </div>
        </div>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <a class="close" href="#">&times;</a>
        </div>
      </div>
    </div>
  </div>

  <div><a class="button" href="#popup"></a></div>Click Me
  <!--<a class="button" href="#popup"><div>Click Me</div></a>-->
  <!--<a class="button" href="#popup"><div>Click Me</div></a>-->
  <!--<a class="button" href="#popup"><div>Click Me</div></a>-->

</div>
