.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;

  .button {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #545454;
    color: #fff;
    border: 2px solid #545454;
    border-radius: 100%;
    text-decoration: none;
    font-family: 'Whitney', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-align: center;
    line-height: 5;
  }

    .button:hover {
      background: #bdbdbd;
      border: 2px solid #bdbdbd;
    }


  #popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    @keyframes example {
      from {top:-100px;opacity: 0;}
      to {top:0px;opacity:1;}
    }

    #popup:target {
      display: inline-block;
      position: absolute;
    }

    .popup-dialog {
      display: table-cell;
      vertical-align: middle;
    }

    .popup-dialog .popup-content {
      margin: auto;
      background-color: #f3f3f3;
      position: relative;
      padding: 0;
      outline: 0;
      border: 1px #777 solid;
      text-align: justify;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      -webkit-animation-name: example;
      -webkit-animation-duration: 0.5s;
      animation-name: example;
      animation-duration: 0.5s;
    }
  }

  .close {
    position: absolute;
    top: 1px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;

    .close:hover {
      color: #043939;
    }
  }
}
