<div class="left">
  <a routerLink="/rooms">Chat</a>
</div>
<div class="fill"></div>
<div class="right">
  <div class="prefix">#Général</div>
  <!--<a routerLink="/chat">Friends</a>-->
  <!--<a routerLink="/login">Login</a>-->
  <!--<a routerLink="/logout">Logout</a>-->
</div>
<button class="btn btn-success" (click)="logout()">Déconnexion</button>

