:host {
  display: flex;
  align-items: center;
  height: 100%;
  background: #043939;
}

a {
  color: white;
  background: transparent;
  border-radius: 3px;
  display: inline-block;
  padding: 7px 20px;
  margin-right: 10px;
  text-decoration: none;
  &:hover {
    background: rgba(255,255,255,.2);
  }
}
.fill {
  flex: 1;
}

.left, .fill, .right {
  padding: 15px;
}

.prefix {
  color: rgba(247, 255, 246, 0.25);
  font-size: 20px;
  &:hover {
    color: rgba(255,255,255,.2);
  }
}

.btn-success {
  border: none;
  color: white;
  background: transparent;

  &:hover {
    background: rgba(255,255,255,.2);
  }
}
