<app-navbar></app-navbar>

<div class="center">
  <div class="left">
  <app-room-menu></app-room-menu>
  </div>
  <div class="col-sm-12" *ngIf="!isAuthenticated">
    <button type="button" class="btn btn-primary" routerLink="">Veuillez vous identifier pour avoir accès au chat</button>
  </div>
  <div class="colo-sm-12" *ngIf="isAuthenticated">
    <div class="chat">
      <ul class="list-group">
        <app-message-item
          *ngFor = "let message of messages; let index = index"
          [user] ="message.user"
          [content] ="message.content"
          [id] ="message.id">
        </app-message-item>
      </ul>
    </div>
    <div class="edit">
      <app-edit></app-edit>
    </div>
  </div>
  <div class="right">
    <app-friends
      *ngFor = "let user of users; let index = index"
      [pseudo] ="user.pseudo"
      [city] ="user.city"
      [birth] ="user.birth">
    </app-friends>
    <app-friends></app-friends>
  </div>
</div>

