.list-group {
  width: 70%;
}

.left {
  width: 300px;
  background: rgba(8, 113, 113, 0.67);
  height: 585px;
  position: absolute;
  left: -50px;
}

.right {

  width: 410px;
  background: rgba(8, 113, 113, 0.67);
  height: 585px;
  position: absolute;
  right: 0px;
  top: 64px
}

.chat {
  height: 500px;
  display: flex;
  justify-content: left;
  left: 50px;
  width: 90%;
  overflow: scroll;
  scrollbar-highlight-color: white;
  padding-top: 20px;
}

.center {
  margin-left: 300px;
  justify-content: center;
  width: 60%;

  .edit {
    left: 100px;
    justify-content: flex-end;
  }
}

.btn-primary {
  font-size: 30px;
  width: 50%;
  height: auto;
  border: 1px solid grey;
  color: white;
  margin-left: 30%;
  margin-top: 20%;
}

.colo-sm-12 {
  width: 80%;
  height: 200px;
  margin: 0;
}
