<div id="container">
  <div id="content">
    <form>
      <div class="formDiv">
        <span>Login</span>
        <input type="text" class="form-control" name="user">
      </div>

      <div class="formDiv">
        <span >Mot de passe</span>
        <input type="password" class="form-control" name="password">
      </div>

      <div class="formDiv">
        <button class="btn btn-success" (click)="login()">Connexion</button>
      </div>
    </form>
  </div>
</div>
