#container {
  background-size: cover !important;
  background-image: url("../../assets/background.jpeg");
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  #content {
    height: 400px;
    width: 400px;
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      color: white;

      .formDiv {
        margin: 10px;
      }
    }
  }
}
