.header {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #1F2124;
  height: 67px;
  cursor: pointer;
  transition: all 0.2s ease;
    &:hover {
      background-color: rgba(8, 87, 87, 0.67);
    }

    .title {
      //padding: 10px 20px;
      font-size: 30px;
      color: white;
      //background:  rgba(255,255,255,.2);
      //text-align: center;
      font-weight: 500;
  }
}

.flex-item:nth-child(1) {
  display: flex;
  //flex: 0 0 67px;
  flex-direction: column;
  align-items: center;
  //background-color: rgba(8, 113, 113, 0.67);
  height: 90%;

  .icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background-color: #545454;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    margin: 15px;

    &:before, &:after {
      position: absolute;
      pointer-events: none;
      opacity: 0;
    }

    &:hover:before, &:hover:after {
      opacity: 1;
    }

    &:before {
      left: calc(100% + 0.25rem);
      border-top: 0.25rem solid transparent;
      border-bottom: 0.25rem solid transparent;
      border-right: 0.25rem solid #7289da;
      content: "";
    }

    &:after {
      left: calc(100% + 0.5rem);
      background-color: #7289da;
      border-radius: 0.25rem;
      color: #fff;
      font-size: 0.95rem;
      padding: 0.25rem 0.5rem;
      content: attr(data-tooltip);
      white-space: nowrap;
    }

    &:first-child {
      margin-top: 0.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.flex-item:nth-child(2) {
  background-color: rgba(8, 113, 113, 0.67);
  flex: 0 0 240px;
  flex-direction: column;
}
