<div class="flex-item">

  <div class="header">
    <div class="title">Salles</div>
  </div>
  <a
    *ngFor="let room of rooms"
    routerLink="/rooms/{{room.id}}"
    class="item">
    {{ name }}
  </a>

  <div class="icon messenger" data-tooltip="Direct Messages"></div>
  <div class="icon" data-tooltip="One"></div>
  <div class="icon" data-tooltip="Two"></div>
  <div class="icon" data-tooltip="Three"></div>
  <div class="icon" data-tooltip="Four"></div>
</div>
