//form {
//  width: 70%;
//  color: white;
//}

.form-group {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

button {
  margin-left: 10px;
}

form {
  position: absolute;
  z-index: 1;
  top: 90%;
  color: #fff;
  border: none;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none!important;
  transition: background .2s ease;

  //&:hover {
  //  background: #1D7745;
  //}
}
