<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="content"></label>
    <input type="text" class="form-control" id="content" formControlName="content" placeholder="Votre message ici" required>

    <label for="user"></label>
    <input type="text" class="form-control" id="user" formControlName="user" placeholder="Votre pseudo" required>

    <button type="submit" class="btn btn-primary" [disabled]="messageForm.invalid">Envoyer le message</button>
  </div>

</form>
