<div class="post">
  <div class="text">
    <div class="user"> {{user.pseudo}} </div>
    <div class="timestamp">Today at 12:00 PM</div>
    <div class="content"> {{content}}</div>
  </div>
  <div class="center-block">
    <!--<button type="button" class="btn btn-outline-primary" (click)="update(id)"> Modifier le message </button>-->
    <button type="button" class="btn btn-danger" (click)="delete()">Supprimer le message</button>
  </div>

</div>

