body {
  padding: 1rem;
  font-weight: 300;
  overflow-x: hidden;
}

span, .list-group-item {
  background-color: rgba(8, 113, 113, 0.67);
  color: white;
  display: flex;
}

.list-group-item {
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgba(8, 113, 113, 0.67);
  border-radius: 15px 15px 0px 15px;
  width: 70%;
  margin: 10px;
  padding: 20px;
  height: 60px;
  word-wrap: break-word;
  transition: bounce 50ms linear;
}

.user {
  display: inline;
  color: #545454;
  font-size: 18px;
  font-weight: 500;
  padding: 0 0.25rem 0 0;
  cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
}

.timestamp {
  display: inline;
  color: #545454;
  font-size: 0.85rem;
  font-weight: 300;
}

.post {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgba(8, 113, 113, 0.67);
  position: relative;
  padding: 14px 10px 14px 18px;
  margin: 0 0 20px 0;
  border-radius: 10px;
  color: #2f2f2f;

  .btn-danger {
      align-self: flex-end;
    }
}
